<launch>
<!-- Launch file to bringup all the stuff running on squirtle -->

    <!-- Arguments to check for conditions to run things -->
    <arg name="mapping" value="1"/>		
    <arg name="keyboard_teleop" value="0"/>
    <arg name="frontier_explore" value="1"/>

	<include file ="$(find turtlebot_bringup)/launch/minimal.launch"/>

    <!-- Node to publish fake laser scan to remove NaN's and publish max range of 10m instead -->
	<node pkg="squirtle_mapping" type="fake_laser.py" name="fake_laser" output="screen" respawn="false"/>

	<include file ="$(find turtlebot_navigation)/launch/gmapping_demo.launch"/>

    <group if="$(arg frontier_explore)">
	<include file ="$(find frontier_exploration)/launch/global_map.launch"/>
	<include file ="$(find squirtle_mapping)/launch/frontierExplorationSquirtle.launch"/>
    </group>

</launch>
