<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen">
  	<param name="mic_name" value="alsa_input.usb-Logitech_Logitech_Wireless_Headset-00-Headset.analog-mono"/>
    <param name="lm" value="$(find pocketsphinx)/example/robocup.lm"/>
    <param name="dict" value="$(find pocketsphinx)/example/robocup.dic"/>
  </node>

</launch>
